#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#github-link {
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
}

#github-logo {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  margin-right: 0.5rem;
}

.loader {
  animation: skeleton-loading 1s linear infinite alternate;
  width: min(1000px, 90vw);
  height: 1000px;
}

@keyframes skeleton-loading {
  0% {
    background-color: #ffffff00;
  }
  100% {
    background-color: #88888833;
  }
}
